<div class="cardProfile">
  <div class="imgProfileAbout"></div>

  <h1 class="h1TitleNameAbout">
    {{name}}
    <span class="positionAboutPortfolio">({{position}})</span>
  </h1>

  <span class="descriptionAbout">
    {{description}}
  </span>
</div>