<button class="btnPagination js-btn-prev"></button>
<div class="inputSearch">
  <input
    type="number"
    min="1"
    max="{{total_pages}}"
    value="{{page}}"
    class="js-input-searchPage"
  />
  <span class="spanAllPages"> of {{total_pages}}</span>
</div>
<button class="btnPagination js-btn-next"></button>